.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: hsl(30, 38%, 92%);

}
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 600px;
  height: 450px;
  background-color: white;
  border-radius: 15px;
}
.leftPanel img {
  height: 450px;
  border-radius: 15px 0px 0px 15px;
}
.rightPanel {
  width: 300px;
  margin: 30px;
}
h1 {
  font-family: 'Fraunces', serif;
  font-size: 33px;
  line-height: 35px;
}
.firstLine {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 6px;
  color: hsl(228, 12%, 48%);
}
.secondLine {
  font-family: 'Montserrat', sans-serif;
  font-size: 14.5px;
  color: hsl(228, 12%, 48%);
  line-height: 23px;
}
.pricePanel {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
h2 {
  font-family: 'Fraunces', serif;
  font-size: 33px;
  color: hsl(158, 36%, 37%);
  margin-right: 20px;
}
.pricePanel p{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: line-through;
}

.addcartButton {
  background-color: hsl(158, 36%, 37%) ;
  padding: 14px 60px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.addcartIcon {
  width: 15px;
  margin-right: 8px;
}